extends layout

block content

	h1 Professor: #{professor.name}
	p Office: #{professor.office}
	p Email: #{professor.email}

	div(style='margin-left:20px;margint-top:20px')

		h4 Courses

		dl
		each section in professor_sections
			dt
				a(href=section.url) #{section.course.course_name}
			dd #{section.section_number}

		else
			p This Professor has no Courses.